.task-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.checkbox {
  margin: 0 0 0 5px;
}

.checkbox:checked ~ span {
  text-decoration: line-through;
}

li {
  display: flex;
  justify-content: space-between;
}

span {
  margin: 10px 5px 10px 5px;
  /*background-color: rgb(197, 117, 117);*/
  width: 100%;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 5px 0 0;
}